.error-page {
  box-sizing: border-box;
  position: absolute;
  width: 1280px;
  height: 100vh;
  background-color: #fff;
  padding: 246px 440px 0;
}

.error-page__container {
  text-align: center;
}

.error-page__error-code {
  margin: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
}

.error-page__error-text {
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.error-page__link {
  display: block;
  margin: 184px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #3456f3;
}
