.error-page {
  box-sizing: border-box;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 246px;
}

@media screen and (max-width: 768px) {
  .error-page {
    padding-top: 408px;
  }
}

@media screen and (max-width: 425px) {
  .error-page {
    padding-top: 329px;
  }
}

.error-page__container {
  text-align: center;
}

.error-page__error-code {
  margin: 0;
  font-weight: 400;
  font-size: 140px;
  line-height: calc(169 / 140);
}

@media screen and (max-width: 425px) {
  .error-page__error-code {
    font-size: 80px;
    line-height: calc(97 / 80);
  }
}

.error-page__error-text {
  margin: 5px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

@media screen and (max-width: 425px) {
  .error-page__error-text {
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}

.error-page__link {
  display: block;
  margin: 184px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #3456f3;
}

@media screen and (max-width: 425px) {
  .error-page__link {
    margin: 284px 0 0;
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}
