.navigation__main {
  display: flex;
  column-gap: 50px;
  align-items: center;
}

.navigation__auth {
  display: flex;
  column-gap: 20px;
}

.navigation__link {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__profile {
  display: flex;
  column-gap: 17px;
  text-decoration: none;
  color: inherit;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
}

.navigation__profile-icon {
  width: 26px;
  height: 30px;
  border-radius: 4px;
  vertical-align: top;
  background-color: #f9f9f9;
  object-fit: none;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .navigation__main {
    display: none;
  }

  .navigation__burger {
  }

  .navigation__burger-btn {
    width: 44px;
    height: 44px;
    position: relative;
    padding: 11px 8px;
    box-sizing: border-box;
    cursor: pointer;
  }

  .navigation__burger-btn:before {
    content: '';
    position: absolute;
    top: 11px;
    width: 28px;
    height: 3px;
    background-color: #000;
  }

  .navigation__burger-btn span {
    position: absolute;
    top: 21px;
    width: 28px;
    height: 3px;
    background-color: #000;
  }

  .navigation__burger-btn:after {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 28px;
    height: 3px;
    background-color: #000;
  }
}
