.header__container {
  margin: 18px auto;
  padding: 0 5px;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_auth {
  background-color: #073042;
}

@media screen and (max-width: 831px) {
  .header__container {
    max-width: 708px;
  }
}

@media screen and (max-width: 425px) {
  .header__container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 320px) {
  .header__container {
    padding: 0 5px;
    max-width: 292px;
  }
}
