.header {
  padding: 18px 70px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_auth {
  background-color: #073042;
}

@media screen and (max-width: 831px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 519px) {
  .header {
    padding: 18px 14px;
  }
}