.auth-nav {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.auth-nav__link {
  text-decoration: none;
  transition: opacity 0.4s;
}

.auth-nav__link:hover {
  opacity: 0.6;
}

.auth-nav__link_signup {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #fff;
}

.auth-nav__link_signin {
  width: 76px;
  height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2be080;
  border-radius: 3px;
  color: #000;
}

@media screen and (max-width: 425px) {
  .auth-nav {
    column-gap: 14px;
  }
  .auth-nav__link_signup {
    font-size: 10px;
    line-height: calc(16 / 10);
  }
  .auth-nav__link_signin {
    width: 54px;
    height: 26px;
    font-size: 10px;
    line-height: calc(16 / 10);
  }
}
