.techs {
  background-color: #f5f5f5;
  padding: 100px 10px;
}

.techs__container {
  max-width: 1140px;
  margin: 0 auto;
}

.techs__title {
  margin: 0;
  padding: 0 0 23px;
  font-weight: 400;
  font-size: 22px;
  line-height: calc(27 / 22);
  letter-spacing: -0.04em;
  border-bottom: 1px solid #000;
}

.techs__subtitle {
  margin: 90px 0 26px;
  font-weight: 400;
  font-size: 50px;
  line-height: calc(58 / 50);
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__about {
  margin: 0 auto;
  max-width: 460px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__items {
  margin: 100px auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.techs__item {
  display: inline-flex;
  width: 90px;
  height: 60px;
  border-radius: 10px;
  border-radius: 10px;
  background: #e8e8e8;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(17 / 14);
  justify-content: center;
  align-items: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 10px;
  }
  .techs__container {
    max-width: 668px;
  }
  .techs__subtitle {
    margin: 80px 0 22px;
  }
  .techs__about {
    font-size: 12px;
    line-height: calc(18 / 12);
  }
  .techs__items {
    margin: 83px 0 0;
  }
  .techs__item {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}

@media screen and (max-width: 425px) {
  .techs {
    padding: 70px 10px;
  }
}

@media screen and (max-width: 320px) {
  .techs {
    background-color: #fff;
  }
  .techs__container {
    max-width: 284px;
  }
  .techs__title {
    font-size: 18px;
    line-height: calc(22 / 18);
    padding: 0 0 28px;
  }

  .techs__subtitle {
    margin: 60px 0 24px;
    font-size: 30px;
    line-height: calc(36 / 30);
  }
  .techs__about {
    max-width: 292px;
    font-size: 11px;
    line-height: calc(16 / 11);
  }
  .techs__items {
    margin: 50px 0 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
