.movies-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies-not-found__title {
  margin: 0;
  color: #a0a0a0;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: -0.04em;
}
